set default=0
set timeout=8

source /boot/grub/theme.cfg

menuentry "Start JARVIS OS Live" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}

menuentry "Install JARVIS OS" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ jarvis.installer=1
    initrd @INITRD_LIVE@
}

menuentry "Install JARVIS OS — Safe Graphics" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ nomodeset xforcevesa jarvis.installer=1
    initrd @INITRD_LIVE@
}

menuentry "JARVIS OS — OEM / Factory Setup" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ jarvis.oem=1
    initrd @INITRD_LIVE@
}

menuentry "JARVIS OS — Rescue & Recovery" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ jarvis.recovery=1
    initrd @INITRD_LIVE@
}

menuentry "JARVIS OS — Hardware Diagnostics" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ jarvis.diagnostics=1
    initrd @INITRD_LIVE@
}

menuentry "JARVIS OS — Verify Installation Media" --class debian --class gnu-linux --class gnu --class os {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ verify-checksums
    initrd @INITRD_LIVE@
}

menuentry "JARVIS OS — Memory Test" --class memtest {
    linux16 /boot/memtest86+.bin
}

menuentry "Reboot" --class restart {
    reboot
}

menuentry "Power Off" --class shutdown {
    halt
}
